<p>table-view works!</p>

<table>
  <thead>
  <tr>
    <td>Имя</td>
    <td>Фамилия</td>
    <td>Дата рождения</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of persons | async">
    <td>{{person.name}}</td>
    <td>{{person.surname}}</td>
    <td>{{person.birthday}}</td>
  </tr>
  </tbody>
</table>
