<ngx-loading-bar></ngx-loading-bar>
<mat-toolbar color="primary">
  <button mat-button routerLink="categories" style="font-weight: bold; font-size: 110%;">Главная</button>
  <button mat-button routerLink="person">Пассажиры</button>
  <button mat-button routerLink="train">Поезда</button>
  <button mat-button routerLink="ticket">Билеты</button>
  <button mat-button routerLink="station">Станции</button>
  <button mat-button routerLink="timetable">Расписание</button>
</mat-toolbar>
<div class="mat-app-background basic-container">
  <router-outlet></router-outlet>
</div>
